<%- include('../partials/head.ejs') %>
</head>

<body>
   <%- include('../partials/navigation.ejs') %>

   <main class="container">
        <form class="col s12" action="/admin/<% if (editing) { %>edit-product<% } else { %>add-product<% } %>" method="POST">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <div class="row">
                <div class="input-field col s6">
                    <input type="text" name="title" id="title" value="<% if (editing) { %><%= product.title %><% } %>">
                    <label for="title">Title</label>
                </div>
                <div class="input-field col s6">
                    <input type="text" name="imageUrl" id="imageUrl" value="<% if (editing) { %><%= product.imageUrl %><% } %>">
                    <label for="imageUrl">Image URL</label>
                </div>
                <div class="input-field col s6">
                    <input type="number" name="price" id="price" step="0.01" value="<% if (editing) { %><%= product.price %><% } %>">
                    <label for="price">Price</label>
                </div>
                <div class="input-field col s12">
                  <textarea id="description" name="description" class="materialize-textarea"><% if (editing) { %><%= product.description %><% } %></textarea>
                  <label for="description">Description</label>
                </div>

                <% if (editing) { %>
                    <input type="hidden" value="<%= product._id %>" name="productId">
                <% } %>
                <div class="input-field col s12">
                    <button class="waves-effect waves-light btn blue" type="submit"><% if (editing) { %>Update Product<% } else { %>Add Product<% } %></button>
                </div>
            </div>
        </form>
    </main>
    
<%- include('../partials/end.ejs') %>