<%- include('../partials/head.ejs') %>
    </head>

    <body>
        <%- include('../partials/navigation.ejs') %>
        <main class="container">
            <% if (products.length > 0) { %>
                <ul class="collection with-header">
                    <li class="collection-header"><h4>Cart Products</h4></li>
                    <% products.forEach(p => { %>
                    <li class="collection-item">
                        <div>
                            <form action="/cart-delete-item" method="POST">
                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                            <%= p.productId.title %> (Quantity: <%= p.quantity %>)
                                <input type="hidden" value="<%= p.productId._id %>" name="productId">
                                <button class="waves-effect btn waves-light red secondary-content" type="submit">
                                    <i class="material-icons left">delete</i>Delete
                                </button>
                                <br/>
                                <br/>
                            </form>
                        </div>
                    </li>
        
                    <% }) %>
                </ul>
                <a href="/checkout" class="btn">Order Now!</a>
            <% } else { %>
                <h1 class="header center blue-text">No Products in Cart!</h1>
            <% } %>
        </main>
        <%- include('../partials/end.ejs') %>