<%- include('../partials/head.ejs') %>
    </head>

    <body>
        <%- include('../partials/navigation.ejs') %>
        <main class="container">
            <% if(orders.length <=0) { %>
                <h1 class="header center blue-text">No Order Yet!</h1>
            <% } else { %>
                <% orders.forEach(order => { %>
                    <ul class="collection with-header">
                        <li class="collection-header"><h5>Order #<%= order._id %></h5></li>
                        <% order.products.forEach(item => { %>
                            <li class="collection-item">
                                <i class="material-icons">check</i><%= item.product.title %> (<%= item.quantity %>)
                            </li>
                        <% }) %>
                        </ul>
                <% }) %>
            <% } %>
        </main>
<%- include('../partials/end.ejs') %>